button {
  border-radius: 1rem;
  color: white;
  border: 1px solid lightslategrey;
  background-color: #101414;
  font-size: 3rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
