<div class="center-container">
  <div class="game-grid">
    @for (row of boardState(); track rowIdx; let rowIdx = $index) {
      @for (val of row; track colIdx; let colIdx = $index) {
        <app-field [value]="val" (click)="modifyBoard(rowIdx,colIdx)"></app-field>
      }
    }
  </div>

  <div class="game-status">
    <p>
      Current Player: @switch (currentPlayer()) {
      @case (-1) {
        X
      }
      @case (1) {
        O
      }
    }
    </p>

    @if (gameWinner() !== 0) {
      @switch (gameWinner()) {
        @case (-1) {
          X Wins
        }
        @case (1) {
          O Wins
        }
        @case (404) {
          It's a Draw
        }
      }
      <button mat-button (click)="restartGame()">Play Again</button>
    }
  </div>
</div>
